---
layout: default
---

{% include hero-section.html %}

{% include about-section.html %}

{% comment %}
{% include skills-section.html %}
{% endcomment %}

{% comment %}
{% include experience-section.html %} 
{% endcomment %}

{% include education-section.html %} <!-- Giochi -->

{% include services-section.html %} <!-- Nazioni -->

{% comment %}
{% include portfolio-section.html %} 
{% endcomment%}


{% include testimonial-section.html %} <!-- Programma -->

{% include client-section.html %} <!-- sponsor -->

{% comment %}
{% include blog-section.html %}
{% endcomment %}




<!-- 

Intestazione

Presentazione

Giochi

Nazioni

Programma

Iscriviti

FAQ

 -->