---
layout: default
---

{% include hero-section.html %}

{% include about-section.html %}

{% comment %}
{% include skills-section.html %}
{% endcomment %}

{% comment %}
{% include experience-section.html %} 
{% endcomment %}

{% include education-section.html %}

{% include services-section.html %}

{% include portfolio-section.html %}

{% include testimonial-section.html %}

{% include client-section.html %}

{% include blog-section.html %}




<!-- 

Intestazione

Presentazione

Giochi

Nazioni

Programma

Iscriviti

FAQ

 -->