<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h3 class="text-white">DIVERTIMENTO & SICUREZZA</h3>
        <p class="font-secondary paragraph-lg text-dark">Pora Senza Frontiere è divertimento allo stato puro. Puro come la neve, scenografia perfetta per giochi e sfide tra 25 squadre da tre concorrenti ciascuna, rappresentanti 25 Nazioni da tutto il mondo!
<br><br>
Travestimenti, cacce al tesoro, sfide a cronometro con le pelli sotto gli sci o con il bob sotto al sedere, quiz, pupazzi di neve, oltre che prove vitali per la sopravvivenza, come la ricerca con ARTVA, pala e sonda!
<br><br>
E poi immancabile il PARTY SENZA FRONTIERE!
<br><br>
Tutti possono partecipare, tutti possono vincere (A PSF non sempre vince chi arriva primo🤪)</p>
        <!-- <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a> -->
      </div>
    </div>
  </div>
</section>
<!-- /about -->