<!-- contact -->
<section class="section" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Vuoi partecipare?</h2>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <h5>Non perdere tempo, le nazioni andranno a ruba.... </h5>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmgBDI_eDbs9jQlRwtx5uQE65APkPxQNzp98Yi8VDnagSjGA/viewform?usp=sf_link"><button class="btn btn-primary w-100">Iscriviti</button></a>
        <p>Il costo di iscrizione di 20€ a testa include pacco gara, premi ai primi classificati (ma non solo! ;), apericena e drink al party senza frontiere! 

        Per chi non partecipa, apericena e drink a 10€! 

        P.s. Quest’anno tutti avranno la possibilità di vincere un kit Artva Pala Sonda di Ortovox!!</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->