<!-- contact -->
<section class="section" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Vuoi partecipare?</h2>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <h5>Non perdere tempo, le nazioni andranno a ruba.... </h5>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmgBDI_eDbs9jQlRwtx5uQE65APkPxQNzp98Yi8VDnagSjGA/viewform?usp=sf_link"><button class="btn btn-primary w-100">Iscriviti</button></a>
        <p>Il costo di iscrizione di 60€ per squadra include, pacco gara, premi ai primi classificati e a estratione e buffet. Le iscrizioni verranno chiuse al completamento delle squadre.</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->