{% if site.data.settings.education %}
<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">I giochi senza frontiere sulla neve</h2>
        <p> Alcune delle sfide che sarete richiesti di portare a termine .... </p><br>
      </div>
        <div class="col-lg-6 col-md-6 mb-80">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/scibanda.png" alt="sci banda">
            </div>
            <div>
              <h4>Sci Banda 🎧</h4>
              <p class="mb-0 text-light">Chi sarà l' Uomo Gatto delle nevi</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-md-6 mb-80">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/fisicobestiale.png" >
            </div>
            <div>
              <h4>Ci Vuole un fisico bestiale 💪🏻 (e anche il giusto lavoro di squadra!)</h4>
              <p class="mb-0 text-light">Staffetta a 3<br>
                <ul>
                  <li>1 - Salita con le pelli</li>
                  <li>2 - Discesa su bob</li>
                  <li>3 - “Pattinato” senza pelli</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 mb-80">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/artva.png" >
            </div>
            <div>
              <h4>Prova ARTVA</h4>
              <p class="mb-0 text-light">Riuscirete a localizzare e dissotterrare gli ARTVA in tempo?! Veloci che sotto la neve fa freddoooooo 🥶 </p>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 mb-80">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/tresurehunt.png" alt="sci banda">
            </div>
            <div>
              <h4>Treasure Hunt 🏴‍☠️</h4>
              <p class="mb-0 text-light">Riuscirete a unire tutti i puntini e gli indizi per trovare per primi l’ambito tesoro?! Potrebbe essere una bandiera, unapersona a voi car o un piatto di Goulash caldo (chi lo sa?!</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="{{ site.baseurl }}/assets/images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /education -->
{% endif %}