{% if site.data.settings.education %}
<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">I giochi senza frontiere sulla neve</h2>
      </div>
      <p> Alcune delle sfide che sarete richiesti di portare a termine </p>
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4>Sci Banda</h4>
            <p class="mb-0 text-light">Chi sarà l' Uomo Gatto delle nevi</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4>Gioco 2</h4>
            <p class="mb-0 text-light">Descrizione due</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4>Gioco 3</h4>
            <p class="mb-0 text-light">Descrizione tre</p>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4>Gioco 4</h4>
            <p class="mb-0 text-light">Descrizione quattro</p>
          </div>
        </div>
      </div>

      <p> tantissimi altri giochi, preparatevi... </p>



    </div>
  </div>
  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="{{ site.baseurl }}/assets/images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /education -->
{% endif %}