<!-- footer -->
<footer class="bg-dark footer-section">

  <h3>FAQs</h3>

  <h5>Domanda 1</h5>
  <p>Risposta 1</p>

  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Per domande o chiarimenti scrivere al numero CAI su Whatsapp: 034625452</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>