<!-- footer -->
<footer class="bg-dark">
  <div class="border-top text-center border-dark py-5">
    <h3>FAQs</h3>


    <h5>Dove si svolge l' evento?</h5>
    <p>L' evento si svolge al Rifugio Magnolini, in località Monte Pora. Per raggiungere il rifugio è possibile parcheggiare nei parcheggi disponibili nei pressi della strada verso Valzelli, e seguire le indicazioni per raggiungere il Rifugio Magnolini</p>

    <h5>Come raggiungo il Rifugio Magnolini?</h5>
    <p>Seguire le indicazioni a sinistra della pista Valzelli fino all'attraversamento pista solo dove segnalato. Per il rientro fare la stessa strada alta fino all'attraversamento segnalato</p>


    <h5>Come devono essere composte le squadre?</h5>
    <p>Le squadre sono composte da 2 persone e possono essere miste. Nella squadra è necessario avere competenze di sci alpinismo (con pelli), sci di fondo/pattinato e bob. I due atleti dovranno dividersi le prove olimpiche!</p>

    <h5>Cosa deve portare la squadra?</h5>
    <p>La squadra dovrà avere con sé l'equipaggiamento per i giochi: sci, pelli e bob. È obbligatorio avere almeno 1 kit Artva/Pala/Sonda, anche se è consigliato avere un kit per ciascun membro della squadra</p>

    <h5>Dove posso parcheggiare?</h5>
    <p>Parcheggio libero sulla strada verso Valzelli</p>





    <p class="mb-0 text-light">Per domande o chiarimenti scrivere al numero CAI su Whatsapp: 034625452</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>

