<!-- footer -->
<footer class="bg-dark">
  <div class="border-top text-center border-dark py-5">
    <h3>FAQs</h3>


    <h5>Dove si svolge l' evento?</h5>
    <p>L' evento si svolge al Rifugio Magnolini, in località Monte Pora. Per raggiungere il rifugio è possibile parcheggiare nei parcheggi disponibili nei pressi degli impanti di risalita di Monte Pora e seguire le indicazioni per raggiungere il Rifugio Magnolini</p>

    <h5>Come devono essere composte le squadre?</h5>
    <p>Le squadre possono essere miste. Per quanto riguarda le abilità e attrezzature nella squadra deve esserci almeno uno specialista dello sci alpinismo, con pelli, uno sci alpinista, senza pelli per la frazione di fondo, e uno specialista del bob</p>

    <h5>Cosa deve portare la squadra?</h5>
    <p>La squadra dovrà avere con se l'equipaggiamento per i giochi, quindi sci e bob, e almeno 1 kit Artva/Pala/Sonda, anche se è consigliato avere un kit per membro della squadra</p>


    <p class="mb-0 text-light">Per domande o chiarimenti scrivere al numero CAI su Whatsapp: 034625452</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>

