{% if site.data.settings.testimonial-items %}
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">Programma</h2>
      </div>
      <div class="col-6 col-md-3 text-center">
        <h3 class="text-white">13:00</h3>
        <h4 class="text-white">Check-in</h4>
      </div>
      <div class="col-6 col-md-3 text-center">
        <h3 class="text-white">13:30</h3>
        <h4 class="text-white">Sfilata e inizio giochi</h4>
      </div>
      <div class="col-6 col-md-3 text-center">
        <h3 class="text-white">16:30</h3>
        <h4 class="text-white">Premiazione</h4>
      </div>
      <div class="col-6 col-md-3 text-center">
        <h3 class="text-white">17:00</h3>
        <h4 class="text-white">Party!</h4>
      </div>
    </div>
  </div>
  <!-- bg shapes -->
  <img src="{{ site.baseurl }}/assets/images/backgrounds/map.png" alt="map" class="img-fluid bg-map">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-v.png" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape" class="img-fluid bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape" class="img-fluid bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape" class="img-fluid bg-shape-5">
</section>
<!-- /testimonial -->
{% endif %}